@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    mix-blend-mode: difference;
    filter: hue-rotate(180deg) brightness(0.87);
    background: white;
  }
}
